*.class

# Package Files #
*.jar
*.war
*.ear
*.zip
*.gz
*.tgz

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.orig

#eclipse stuff
.settings
.metadata
/.classpath

#PEZ bot collected data
*.data

#Other peoples bots
/voidious
